body {
    background-color: #001000;
    font-family: Verdana;
}
text {
    margin:8px;
}
img {
    margin:8px;
}
#maindiv {
    background-color: #005000;
    color: #001000;
    width: 64%;
	float:left;
}
a {
	color: #001000;
	text-decoration: none;
}